@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-list{
  padding-top: 30px;
}

.button{
  background-color: #f1356d;
  border: 0;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}
.link{
  text-decoration: none;
  color: #fff;
}
.product-grid{
  display: flexbox;
}
.product-button{
  background-color: #f1356d;
  border: 0;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
}
.cart-button{
  background-color: #f1356d;
  border: 0;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  color: white;
  /* margin-left: 10px; */
}
.cart-button1{
  background-color: #f1356d;
  border: 0;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  color: white;
  margin-left: 10px;
}
.cart-list{
  padding-top: 30px;
  list-style-type: none;
  margin-left: 0;
}



/* Add product page */

.add-product-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-product-form form div {
  margin-bottom: 15px;
}

.add-product-form form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.add-product-form form input,
.add-product-form form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-product-form form select{
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.add-product-form form option{
  color: #f1356d;
}

.add-product-form form button {
  padding: 10px 20px;
  background-color: #f1356d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* nabar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}